body {
	background: url('../images/pokeballs.jpg') center center no-repeat #fff;
	background-position: top;
}

.contenidoprincipal{
	
	// justify-content: center;
	// align-items: center;
	
}

.listadelis {
	padding: 0;	
	display: flex;
	flex-direction: row;
	list-style: none;
}

.li{
	margin: 20px;
}

.claseoculta {
	display: none;
}



// .carta {
// 	list-style-type: none;
// 	display: inline-block;
// 	padding: 4px 4px 0 4px;
// 	margin: 30px 20px;
// 	border: $BordeCarta;
// 	//background: url(miimagen.jpg)
// }