body {
	background: url('../images/pokeballs.jpg') center center no-repeat #fff;
	background-position: top;
}

.contenidoprincipal{
	display: flex;
	justify-content: center;
	align-items: center;
}

.listadecartas {
	padding: 0;	
}

.carta {
	list-style-type: none;
	display: inline-block;
	padding: 4px 4px 0 4px;
	margin: 30px 20px;
	border: $BordeCarta;
	//background: url(miimagen.jpg)
}